a.card-link .card-link-wrapper {
  font: normal 14px helvetica;
  text-align: left;
}

.card-link-wrapper .ext-link-arrow {
  width: 25px;
  transform: rotate(316deg);
}

a.card-link {
  display: inline-block !important;
  color: #fff !important;
  cursor: pointer;
  text-decoration: underline;
  font: normal 14px helvetica;
}

a.card-link:hover:before {
  content: none;
}

p.card-heading {
  color: #111;
  font: normal 32px helvetica;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #E0E9F1;
  width: 200px;
  height: 36px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  top: -13px;
}

.card-language-wrapper {
  position: absolute;
}

.card-language {
  display: inline-block;
  height: 16px;
  color: #70c377;
  border-radius: 10px;
  padding-right: 12px;
  text-align: center;
  font-weight: bold;
  font: normal 14px helvetica;
  margin-bottom: 0;
  margin-top: 0;
}

hr {
  position: relative;
  top: 50px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .card-filter {
  background-color: rgb(93 181 67 / 86%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: auto;
  height: 300px;
  position: absolute;
  z-index: 999;
  width: 540px;
  opacity: .7;
} */
.card-wrapper {
  width: 550px;
  min-height: 300px;
  height: 100%;
  border-radius: 8px;
  background-color: #172043;
  margin-top: 20px;
  color: #111;
  border: 1px solid rgb(201 201 201);
  transition: transform .2s;
}

.card-wrapper.dark {
  width: 500px;
  min-height: 300px;
  height: 100%;
  border-radius: 8px;
  background-color: #2b3e61;
  margin-top: 20px;
  color: #fff;
}

.card-details {
  padding: 20px;
  display: flex;
  color: #fff;
}

.card-details .card-left {
  padding: 15px;
  flex: 1;
  height: 100%;
}

.card-details .card-right {
  flex: 1;
}



.card-details .card-right p.card-details-copy {
  font: normal 16px helvetica;
  color: #e6e6e6;
  margin: 0;
}

.card-details .card-right h1 {
  font-size: 24px;
}


.card-wrapper .card-details > p {
  font: normal 16px helvetica;
  line-height: 1.4;
  color: #111;
}

.card-wrapper.dark .card-details > p {
  font: normal 16px helvetica;
  line-height: 1.4;
  color: #fff
}


/* #thumb1 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-repeat: no-repeat;
  width: auto;
  height: 300px;
  background-size: cover;
  background-image: url('../../images/allstate-thumb.png');
  position: relative;
  z-index: 0;
} */

.thumb-image {
  border-radius: 8px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/* .card-wrapper:hover {
  transform: scale(1.1); 
} */